-content_for :head do
  =javascript_include_tag "g.bar-min"
  =javascript_include_tag "regressions_bar"

%section.test_sets_show
  .container
    .row
      %h3= @test_set.name
      .regressions
        =paginate @regressions
        =render partial: "regressions/regression", locals: {regressions: @regressions}
        #holder
